.seccion {
    margin: 0%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secciones-page-home {
    background-image: url('../images/background-full-screen.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home::after {
    content: '';
    height: 10px;
    width: 100%;
    background-image: linear-gradient(to right, #e4ff00, #00efff);
}

#about, #contacto {
    background-color: #fff;
}

#portfolio {
    background: #f0f2f5;
}



@media screen and (max-width: 991px) {
    .secciones-page-home {
        background-image: url('../images/background-smartphone-screen.jpg');
    }
}