.seccion {
    margin: 0%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secciones-page-home {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/react-img-games.appspot.com/o/imggames%2Fbackground-full-screen.jpg?alt=media&token=22c871fe-b4c4-4dd5-842f-7c0b797fa527');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* #home::after {
    content: '';
    height: 10px;
    width: 100%;
    background-image: linear-gradient(to right, #e4ff00, #00efff);
} */

#about, #contacto {
    background-color: #fff;
}

#portfolio {
    background: #f0f2f5;
}



@media screen and (max-width: 991px) {
    .secciones-page-home {
        background-image: url('https://firebasestorage.googleapis.com/v0/b/react-img-games.appspot.com/o/imggames%2Fbackground-smartphone-screen.jpg?alt=media&token=e0cc755a-4875-4559-8942-420b8ee25039');
    }
}