.container-global-sectionabout {
    width: 70%;
    background: #fff;
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 0 30px 0 rgba(0, 0, 0, 0.05); */
    border-radius: 1rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 3rem;
}

.me-redes-sectionabout {
    width: 100%;
    display: flex;
    justify-content: center;
}

.me-sectionabout {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 4rem;
}

.me-sectionabout p {
    text-align: center;
    padding: 1rem 1rem;
    width: 100%;
    color: #646464;
    font-family: monospace;
    font-size: 1.1rem;
    margin: 0;
}

.redes-sectionabout {
    width: 40%;
    padding: 1rem 2rem;
}

.icons-redes-sectionabout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons-redes-sectionabout a {
    font-size: 2rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.icons-redes-sectionabout a:hover {
    text-decoration: underline;
}

.icons-redes-sectionabout a h4 {
    font-size: 1rem;
    margin-left: 8px;
    font-weight: 500;
}

.container-global-sectionabout h2 {
    margin: 0%;
    color: #1572b6;
    font-size: 1.6rem;
}

.icons-tittle-sectionabout {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.icons-container-sectionabout {
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.icons-sectionabout {
    margin: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.3);
    border-radius: 1rem;
    width: 10rem;
    padding: 1rem 0rem;
    transition: 0.5s all ease;
}

.icons-sectionabout:hover {
    outline: 4px solid #b4b5b74d;
    outline-offset: 4px ;
    background: #b4b5b74d;
    transition: 0.1s all ease;
}

.icons-sectionabout span {
    font-size: 3rem;
    /* padding: 1rem 3rem; */
    display: flex;
    flex-direction: column;
}

.icons-sectionabout h3 {
    font-size: 1rem;
    color: #000;
    margin: 0%;
    margin-top: 1rem;
}


@media screen and (max-width: 1350px) {
    .container-global-sectionabout  {
        width: 90%;
    }

    .me-redes-sectionabout {
        padding: 1rem 2rem;
    }
}


@media screen and (max-width: 991px) {
    .container-global-sectionabout {
        margin: 0%;
        border-radius: 0%;
        flex-direction: column;
        width: 100%;
        padding-top: 5rem;
        box-shadow: none;
        background-color: rgba(253, 255, 252, 1);
    }

    .me-redes-sectionabout {
        width: 100%;
        padding: 0%;
        flex-direction: column;
        align-items: center;
    }

    .me-sectionabout {
        width: 100%;
        padding: 0%;
    }

    .me-sectionabout p {
        width: 90%;
        padding: 0%;
        font-size: 0.9rem;
        margin-top: 1rem;
        text-align: justify;
    }

    .icons-tittle-sectionabout {
        width: 100%;
        margin-top: 1.5rem;
    }

    .redes-sectionabout {
        margin-top: 2rem;
        width: 100%;
        padding: 0%;
    }

    .icons-redes-sectionabout {
        margin-top: 0rem;
    }

    .icons-redes-sectionabout a {
        font-size: 1.5rem;
    }

    .icons-redes-sectionabout a h4 {
        font-size: 0.8rem;
    }

    .icons-container-sectionabout {
        max-width: 90%;
        margin-top: 1rem;
    }

    .icons-sectionabout {
        background: none;
        border-radius: 0;
        width: 6rem;
        padding: 0rem 0rem;
        margin-bottom: 2rem;
        outline: none;
        box-shadow: none;
    }

    .icons-sectionabout span {
        font-size: 3rem;
    }

    .icons-sectionabout {
        pointer-events: none;
    }
}