.container-global-sectionabout {
    width: 100%;
    border-radius: 1rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
}

.me-redes-sectionabout {
    width: 70%;
    display: flex;
    justify-content: center;
}

.me-sectionabout {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 4rem;
}

.me-sectionabout p {
    text-align: center;
    padding: 1rem 1rem;
    width: 100%;
    color: #646464;
    font-family: monospace;
    font-size: 1.1rem;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    line-height: 30px;
}

.redes-sectionabout {
    width: 40%;
    padding: 1rem 2rem;
}

.icons-redes-sectionabout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.icons-redes-sectionabout a {
    font-size: 2rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.icons-redes-sectionabout a:hover {
    text-decoration: underline;
}

.icons-redes-sectionabout a h4 {
    font-size: 1rem;
    margin-left: 8px;
    font-weight: 500;
}

.container-global-sectionabout h2 {
    margin: 0%;
    color: #1572b6;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.icons-tittle-sectionabout {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.icons-container-sectionabout {
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.icons-sectionabout {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px 1px rgb(0 0 0 / 13%);
    border-radius: 1rem;
    width: 10rem;
    padding: 1rem 0rem;
    transition: 0.5s all ease;
    font-family: 'Quicksand', sans-serif;
    background: #fff;
}

/* .icons-sectionabout:hover {
    outline: 4px solid #b4b5b74d;
    outline-offset: 4px ;
    transition: 0.1s all ease;
} */

.icons-sectionabout span {
    font-size: 3rem;
    /* padding: 1rem 3rem; */
    display: flex;
    flex-direction: column;
}

.icons-sectionabout h3 {
    font-size: 1rem;
    color: #000;
    margin: 0%;
    margin-top: 1rem;
}

.marquee-container {
    width: 90%;
    overflow: hidden;
    /* background: #f1f1f15b; */
    padding: 10px 0;
    border-radius: 8px;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, black 10%, black 90%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, black 10%, black 90%, rgba(0, 0, 0, 0) 100%);
    mask-composite: intersect;
}

.marquee {
    display: flex;
    justify-content: space-around;
    animation: marquee 15s linear infinite;
    width: fit-content;
}

.icon {
    padding: 0 20px;
    font-size: 2rem; /* Adjust size as needed */
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.container-img-photoabout {
    width: 30%;
}

.container-img-photoabout img {
    width: 100%;
}


@media screen and (max-width: 1350px) {
    .container-global-sectionabout  {
        width: 90%;
    }

    .me-redes-sectionabout {
        padding: 1rem 2rem;
    }
}


@media screen and (max-width: 991px) {
    .container-global-sectionabout {
        margin: 0%;
        border-radius: 0%;
        flex-direction: column;
        width: 100%;
        padding-top: 5rem;
        box-shadow: none;
    }

    .me-redes-sectionabout {
        width: 100%;
        padding: 0%;
        flex-direction: column;
        align-items: center;
    }

    .me-sectionabout {
        width: 100%;
        padding: 0%;
    }

    .me-sectionabout p {
        width: 90%;
        padding: 0%;
        font-size: 0.9rem;
        margin-top: 1rem;
        text-align: justify;
        line-height: 30px;
    }

    .icons-tittle-sectionabout {
        width: 100%;
        margin-top: 1.5rem;
    }

    .redes-sectionabout {
        margin-top: 2rem;
        width: 100%;
        padding: 0%;
    }

    .icons-redes-sectionabout {
        margin-top: 0rem;
        flex-direction: row;
    }

    .icons-redes-sectionabout a {
        font-size: 1.5rem;
    }

    .icons-redes-sectionabout a h4 {
        font-size: 0.8rem;
    }

    .icons-container-sectionabout {
        max-width: 90%;
        margin-top: 2rem;
    }

    .icons-sectionabout {
        width: 5rem;
        border-radius: 100%;
        margin: 0 10px;
        padding: 25px 10px;
        outline: none;
        pointer-events: none;
        box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 13%);
    }

    .icons-sectionabout span {
        font-size: 2rem;
    }

    .icons-sectionabout h3 {
        font-size: 10px;
        margin-top: 5px;
    }

    .marquee {
        animation: marquee 8s linear infinite;
    }

    .marquee-container {
        width: 100%;
        mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, black 5%, black 95%, rgba(0, 0, 0, 0) 100%);
        -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, black 5%, black 95%, rgba(0, 0, 0, 0) 100%);
    }
}