.container-global-sectionhome {
    width: 70vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

/* .container-global-sectionhome::before {
    content: "";
    background-color: #18181bd4;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
} */

.img-container-sectionhome {
    width: 30%;
    display: flex;
    position: relative;
    padding: 2rem;
    /* opacity: 0;
    animation: fadeInUp 1s ease-out 0.3s forwards; */
}

.div-soporte-profile {
    position: absolute;
    width: 100%;
    height: 80%;
    bottom: 0;
    left: 0;
    box-shadow: 0 0 20px 7px #000;
    border-radius: 8px;
    backdrop-filter: blur(2px);
    will-change: backdrop-filter;
    background: transparent;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
}

.img-profile-home {
    display: block;
    width: 100%;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, black 10%, black 90%, rgba(0, 0, 0, 0) 100%), /* Left and right */
                 linear-gradient(to bottom, black 80%, rgba(0, 0, 0, 0) 100%); /* Bottom */
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, black 10%, black 90%, rgba(0, 0, 0, 0) 100%), /* Left and right */
                        linear-gradient(to bottom, black 80%, rgba(0, 0, 0, 0) 100%); /* Bottom */

    mask-composite: intersect;
}

.datos-container-sectionhome {
    width: 60%;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Quicksand', sans-serif;
}

.datos-container-sectionhome h5 {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 4px;
    margin: 0%;
    opacity: 0;
    animation: fadeInUp 1s ease-out 0.3s forwards;
}

.datos-container-sectionhome h2 {
    font-size: 70px;
    font-weight: 800;
    color: #fff;
    margin-top: 12px;
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeInUp 1s ease-out 0.5s forwards;
}

.datos-container-sectionhome h1 {
    margin: 0%;
    font-weight: bold;
    color: #fff;
    font-size: 25px;
    opacity: 0;
    animation: fadeInUp 1s ease-out 0.8s forwards;
}

.btn-cv-download {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 3rem;
    /* background: #00a1ffab; */
    background: #fff;
    color: #000;
    padding: 12px 35px 13px 35px;
    border-radius: 2rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    opacity: 0;
    animation: fadeInLeft 0.5s ease-out 1s forwards;
    transition: box-shadow 0.1s ease;
    outline: 0px solid #fff;
    transition: 0.1s all ease-in-out;
}

.btn-cv-download:hover {
    /* box-shadow: 0 4px 1px #ffffffc2; */
    /* transform: translateY(-5px); */
    outline-width: 3px;
    outline-offset: 3px ;
    transition: 0.1s all ease-in-out;
}

.misredes-sectionhome-low {
    color: #fff;
    z-index: 2;
    display: flex;
    opacity: 0;
    animation: fadeInUp 1s ease-out 1s forwards;
    margin-top: 20px;
}

.misredes-sectionhome-low a {
    transition: 0.2s all ease;
}

.misredes-sectionhome-low a:hover {
    transition: 0.2s all ease;
    transform: translateY(-3px);
}

.btn-low-redes {
    color: #fff;
    margin: 0 15px 0 0;
    width: 20px;
    height: 20px;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(40px, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        visibility: visible;
    }
}




@media screen and (max-width: 1350px) {
    .container-global-sectionhome {
        width: 90%;
    }

    .datos-container-sectionhome h1 {
        font-size: 20px;
    }

    .datos-container-sectionhome h5 {
        font-size: 35px;
    }

    .datos-container-sectionhome h2 {
        font-size: 50px;
    }
}


@media screen and (max-width: 991px) {
    .container-global-sectionhome {
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        padding-top: 0%;
        padding-bottom: 0%;
        margin: 0%;
        border-radius: 0%;
        height: 100vh;
    }

    .img-container-sectionhome {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        padding: 1rem;
    }

    .img-profile-home {
        padding-left: 0;
    }
    
    .datos-container-sectionhome {
        width: 90%;
        margin-top: 1rem;
        padding-bottom: 4rem;
    }

    .datos-container-sectionhome h5 {
        font-size: 20px;
        letter-spacing: 2px;
    }
    
    .datos-container-sectionhome h2 {
        font-size: 32px;
        font-weight: 800;
        margin-bottom: 15px;
    }

    .datos-container-sectionhome h1 {
        font-size: 15px;
    }

    .datos-container-sectionhome p {
        padding: 0%;
    }

    .btn-cv-download {
        margin: auto;
        margin-top: 2rem;
        width: 80%;
    }

    .misredes-sectionhome-low {
        width: 100%;
        justify-content: center;
        padding-top: 1rem;
    }
    
    .btn-low-redes {
        color: #fff;
        margin: 0px 15px;
        width: 20px;
        height: 20px;
    }
}