.container-global-sectionportfolio {
    width: 70%;
    border-radius: 1rem;
    margin-bottom: 5rem;
    margin-top: 2rem;
    padding-bottom: 3rem;
    padding-top: 4rem;
}

.container-global-sectionportfolio h2 {
    margin: 0%;
    color: #1572b6;
    font-size: 1.6rem;
}

.proyectos-sectionportfolio {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.card-proyecto {
    margin: 1rem;
    padding: 1rem;
    width: 70%;
    display: flex;
    justify-content: center;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    font-family: 'opensans-regular', sans-serif;
    color: #6a7575;
    outline: 0px solid #00a1ffab;
}

.card-proyecto:hover {
    outline-width: 2px;
    outline-offset: 4px ;
}

/* .card-proyecto:hover .img-proyecto img {
    transform: scale(1.05);
}   */

.proyectos-sectionportfolio .card-proyecto:nth-child(odd) {
    flex-direction: row; /* Fondo para las posiciones impares */
}
  
.proyectos-sectionportfolio .card-proyecto:nth-child(even) {
    flex-direction: row-reverse; /* Fondo para las posiciones pares */
}

.img-proyecto {
    width: 40%;
}

.img-proyecto img {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #dcdee1;
}

.data-proyecto {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Quicksand', sans-serif;
}

.data-proyecto h3 {
    margin: 0%;
    margin-top: 1rem;
}

.icons-del-proyecto {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.icons-del-proyecto span {
    margin: 5px 8px;
    border-radius: 2rem;
    padding: 3px 10px;
    color: #1572b6;
    font-size: 0.8rem;
    background: linear-gradient(145deg, #ffffee, #e1d7c8);
}

.btn-link-mediacard {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.btn-link-mediacard button {
    margin: 0 1rem;
    padding: 5px 15px;
    border-radius: 5px;
    color: #fff;
    background: linear-gradient(145deg, #67b69e, #7ad8bb);
    text-decoration: none;
    font-size: 0.8rem;
    font-family: 'Quicksand', sans-serif;
}

.btn-link-mediacard button:hover {
    background: #7ad8bb;
}


@media screen and (max-width: 1350px) {
    .container-global-sectionportfolio {
        width: 90%;
    }
}

@media screen and (max-width: 991px) {
    .container-global-sectionportfolio {
        width: 100%;
        box-shadow: none;
        border-radius: 0%;
        padding-top: 3rem;
        margin-bottom: 0%;
    }

    .card-proyecto {
        width: 80%;
        flex-direction: column;
    }
    .img-proyecto {
        width: 100%;
    }

    .data-proyecto {
        width: 100%;
    }

    .data-proyecto p {
        padding: 8px;
        text-align: left;
    }

    .icons-del-proyecto {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        justify-content: flex-start;
    }

    .icons-del-proyecto span {
        font-size: 12px;
    }

    .proyectos-sectionportfolio {
        margin-top: 1rem;
    }

    .proyectos-sectionportfolio .card-proyecto:nth-child(odd) {
        flex-direction: column; /* Fondo para las posiciones impares */
    }
      
    .proyectos-sectionportfolio .card-proyecto:nth-child(even) {
        flex-direction: column; /* Fondo para las posiciones pares */
    }

    .btn-link-mediacard {
        justify-content: center;
    }
}